@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-btn {
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.12);
	background: linear-gradient(0deg, #1e231e 0%, #1e231e 100%), #050a05;
}

.testimonial-person-baw {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.88%, #000 100%);
	background-blend-mode: hard-light, normal;
}

.chat-input-focus-animation:focus-within {
	border-radius: 12px !important;
	border: 1.5px solid rgba(255, 255, 255, 0.36) !important;
	background: #1e231e !important;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	-ms-border-radius: 12px !important;
	-o-border-radius: 12px !important;
}
